.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.50);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}

.card:hover .card-img-top {
    transform: scale(1.1); /*agranda suavemente la imagen, esta bueno */
}
  
.card-img-top {
    width: 100%;
    height: 500px;
    padding: 30px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.4s ease;
}
  
.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
  }
  
.card-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
  
.card-text {
    margin-top: auto;
}
  